.jumbotron {
  background-color: #dcf715;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

.breadcrumb {
  background-color: beige;
  padding-bottom: 10px;
}

.btn {
  color: black;
  background-color: lightblue;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #dcf715;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}

.boton-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}