$yellow: #15cef7;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px )
}

.breadcrumb {
    background-color:beige;
    padding-bottom: 10px;
}

.btn {
    color:black;
    background-color: lightblue;
}

footer {
    padding: 10px 10px 0 10px;
    background-color:$yellow;
    @include margenes(10px, 0px )
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.boton-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}